<!DOCTYPE html>
<html>
    <title>Predict Titanic Survivors</title>


    <div class="container">    

            <h2> View Dataset information</h2>  
            <form method="POST", action="/view_data"> 
                <button type="submit" name="head" value='head'>Top view</button>
                <button type="submit" name="tail" value='tail'>Bottom view</button>
                <button type="submit" name="info" value='info'>Show dataset info</button>
            </form>
    </div><br><br>


    <div class="container">
        
        <form method="POST" action="/predict">

            <b>Passenger's Sex:</b>
            <select class="gender" id="gender_dropdown_selector" name="gender_dropdown" required>
                <option></option>
                <option value="1">Male</option>
                <option value="0">Female</option>
            </select><br><br>

            <b>Passenger's Port of Embarkation:</b>
           <select class="embarked" id="embarked_dropdown_selector" name="embarked_dropdown" required>
                <option></option>
                <option value="0">Cherbourg</option>
                <option value="1">Queenstown</option>
                <option value="2">Southampton</option>
            </select><br><br>

            <b>Passenger's Ticket Class:</b>
           <select class="class" id="class_dropdown_selector" name="class_dropdown" required>
                <option></option>
                <option value="1">First Class</option>
                <option value="2">Second Class</option>
                <option value="3">Third Class</option>
            </select><br><br>

            <label for="Age"> 
                <b>Passenger's Age:</b>
                <input type="number" id="Age" name="age" min="0" max="80" required>
            </label><br><br>

            <label for="sibsp"> 
                <b>No. of Siblings/Spouses on Board:</b>
                <input type="number" id="sibsp" name="sibsp" min="0" max="10" required> 
            </label><br><br>

            <label for="parch"> 
                 <b>No. of Parents/Children on Board:</b>
                <input type="number" id="parch" name="parch" min="0" max="10" required> 
            </label><br><br>

            <label for="fare"> 
                <b>Passenger fare:</b>
                <input type="number" id="fare" name="fare" min="0" max="600" required> 
            </label><br><br>

            <button type="submit" name="predict">Predict</button>
        </form>
    </div>
</html>